.sidebar {
    width: 330px;
    font-size: 18px;
    line-height: 40px;
    margin-left: 80px;
}
.sidebar ul {
    list-style: none;
}

.gadgets {
    border-bottom: 2px solid rgb(233, 233, 233);
    width: 260px;
    
}

.household {
    border-bottom: 2px solid rgb(233, 233, 233);
    width: 260px;
}